@import "bourbon"
@import "vars.sass"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: "OpenSansRegular"
	overflow-x: hidden
	background-color: #ebe5d5

h1, h2, h3
	font-family: "OpenSansBold"
	text-transform: uppercase
	font-weight: none
	color: #fff
h1
	font-size: em(48px)

h2
	font-size: em(30px)

h3
	font-size: em(28px)

.hidden
	display: none
